.header {
    background-color: #0055a4; /* Ryanair Blau als Hintergrundfarbe */
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

@media (min-width: 768px) {
    .header h1 {
        font-size: 36px;
    }
}
